@screen md{
    .scrollBg {
        /* -webkit-animation-name: scrollSmall;
        animation-name: scrollSmall;
        -webkit-animation-duration: 25s;
        animation-duration: 25s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite; */
        animation: scrollSmall 25s linear infinite;
      }

}


  @-webkit-keyframes scrollSmall {
    0% {
      transform: translateX(0)
    }
  
    to {
      transform: translateX(-100%)
    }
  }
  
  @keyframes scrollSmall {
    0% {
      transform: translateX(0)
    }
  
    100%{
        transform:translateX(calc(-1 * 33vw * 7))
    }
  }